  <div>
  <%= render "shared/banner" %>

  <div>
    <% @buddies.each do |b| %>
      <p> Name: <%= b.first_name %> <%= b.last_name %> </p>
      <p> Specialties: <%= b.specialties %></p>
    <% end %>
  </div>
  <div>
    <% if @buddy %>
      <%= link_to "Match me with buddy", buddy_path(@buddy.id)%>
    <% end %>
  </div>

</div>

