  <div>
  <div class="banner-request" style="background-image: url('https://projectgallery.ca/cms/media/paper_crumpled_light_shadow_35117_1920x1080.jpg'">
      <h1> Your request are:</h1>
  </div>
</div>

<div class=" container-request text-center">
  <% @requests.each do |r| %>
    <div class="request">
      <div class=" request-body">
        <p>User: <%= r.user.first_name %></p>
      </div>
      <div class="request-body">
        <p> Created at: <%= r.created_at %></p>
        <p>Status: <%= r.status %></p>
      </div>
      <div>
        <% if r.status == "Pending" %>
          <%= link_to "Accept", buddy_request_path(current_user, r, id: r.id, status: "Accepted"),
                      method: :patch,
                      class: "btn btn-primary" %>

          <%= link_to "Decline", buddy_request_path(current_user, r, id: r.id, status: "Declined"),
                      method: :patch,
                      class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
