<div id="loading-buddy">
 Hold a moment!!! We are matching you with a suitable buddy...
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg>
</div>
<div id="show-container" class="hidden">
  <div class="container flexbox" >
    <div class="row banner-show" style="background-image: url('http://mzwnews.com/wp-content/uploads/2017/09/Blog-Berlin-move.jpg');">

      <% if user_signed_in? %>
        <h1>Hi <%= current_user.first_name %>, I'm <%= @buddy.first_name %></h1>
      <% else %>
        <h1>Hi, I'm <%= @buddy.first_name %></h1>
      <% end %>
    </div>
  <div>

  <div class="container flexbox">
    <div class="col-xs-12 col-sm-4">

      <div class="avatar">
        <p>Picture</p>
      </div>

      <div>
        <h3><a class="btn btn-lg btn-primary btn-book" href="">send message!</a></h3>
        <h3><%= link_to "request", buddy_requests_path(@buddy),
                  method: :post,
                  class: "btn btn-lg btn-primary btn-book" %> </h3>
        <h3><a class="btn btn-lg btn-primary btn-book" href="">new match</a></h3>
      </div>
    </div>


    <div class="col-xs-12 col-sm-8">
      <div class="row">
        <p>description</p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <p>tasks</p>
        </div>

        <div class="col-xs-12 col-sm-4">
          <p>map</p>
        </div>
      </div>

      <div class="row">
        <p>review</p>
      </div>
    </div>
  </div>
</div>

<%= content_for :after_js do %>
  <%= javascript_pack_tag 'loader' %>
<% end %>

