<div id="loading-buddy">
 <p>Stay with us !</p>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
    <rect x="0" y="0" width="4" height="10" fill="#333">
      <animateTransform attributeType="xml"
        attributeName="transform" type="translate"
        values="0 0; 0 20; 0 0"
        begin="0" dur="0.6s" repeatCount="indefinite" />
    </rect>
    <rect x="10" y="0" width="4" height="10" fill="#333">
      <animateTransform attributeType="xml"
        attributeName="transform" type="translate"
        values="0 0; 0 20; 0 0"
        begin="0.2s" dur="0.6s" repeatCount="indefinite" />
    </rect>
    <rect x="20" y="0" width="4" height="10" fill="#333">
      <animateTransform attributeType="xml"
        attributeName="transform" type="translate"
        values="0 0; 0 20; 0 0"
        begin="0.4s" dur="0.6s" repeatCount="indefinite" />
    </rect>
  </svg>
  <iframe src="https://giphy.com/embed/tXL4FHPSnVJ0A" width="480" height="317" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/kim-novak-tXL4FHPSnVJ0A"></a></p>

<p> Our sexy algorithm is finding you a buddy</p>
</div>

<div id="show-container" class="hidden">
<div class="container1">
  <div class="banner1" style="background-image: url('https://fbcoverstreet.com/content/439L15S1D8280Hbk2X041m5GF3K93J4l2YCfK8l432LBT478P6354944YMN3Ucw6.jpg');">
    <% if user_signed_in? %>
      <h1>Hi <%= current_user.first_name %>, I'm <%= @buddy.first_name %></h1>
    <% else %>
      <h1>Hi, I'm <%= @buddy.first_name %></h1>
    <% end %>
  </div>
  <div class="containerContent">
    <div class="contentLeft">
      <div class="avatar1">
        <%= cl_image_tag @buddy.photo, height: 250, width: 250, crop: :fill, gravity: :face, radius: :max %>

      </div>


      <div class="action">
        <div class="actionContainer">

        <p><%= @buddy.first_name %> is a verified Buddy</p>
          <%= link_to "Send Message", chat_room_path(@chatroom), class: 'submit-button', remote: true %>

          <%= link_to "Request", buddy_requests_path(@buddy),
                  method: :post,
                  class: "submit-button" %>
          <% if @next_match >= 1 %>
            <%= link_to "New Match", buddy_path(@next_match), class: "submit-button-match" %>
          <% elsif @next_match < 0 %>
            <%= "Please login for more results!" %>
          <% else %>
            <%= "Sorry, no more matches for your search!" %>
          <% end %>

        </div>

      </div>

    </div>
    <div class="contentRight">
      <div class="description">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="specialPlusMap">

        <div class="special">
          <div class="specialContainer">
          <p>Tasks <%= @buddy.first_name %> is helping you with</p>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-briefcase-medical big-icon"></i>
            </div>
            <div class="item2">
              <p>Health insurance</p>
            </div>
          </div>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-money-check-alt big-icon"></i>
            </div>
            <div class="item2">
              <p>Bank account</p>
            </div>
          </div>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-building big-icon"></i>
            </div>
            <div class="item2">
              <p>House register</p>
            </div>
          </div>

          </div>
        </div>

        <div class="map1">
          <div class="mapContainer">
            <p><%= @buddy.first_name %>'s Neighborhood</p>
          <div
          id="map"
          style="width: 100%;
          height: 100%;
          border-radius: 10px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
          </div>
        </div>
      </div>
      <div class="review">
        <p>Ratings from Movers</p>
      </div>
    </div>
  </div>
</div>

  <%= content_for :after_js do %>
  <%= javascript_pack_tag 'loader' %>
<% end %>

