<div class="container1">
  <div class="banner1" style="background-image: url('https://fbcoverstreet.com/content/439L15S1D8280Hbk2X041m5GF3K93J4l2YCfK8l432LBT478P6354944YMN3Ucw6.jpg');">
    <% if user_signed_in? %>
      <h1>Hi <%= current_user.first_name %>, I'm <%= @buddy.first_name %></h1>
    <% else %>
      <h1>Hi, I'm <%= @buddy.first_name %></h1>
    <% end %>
  </div>
  <div class="containerContent">
    <div class="contentLeft">
      <div class="avatar1">
        <%= cl_image_tag @buddy.photo, height: 250, width: 250, crop: :fill, gravity: :face, radius: :max %>

      </div>

      <div><%= alert %></div>
      <div class="action">
        <div class="actionContainer">
        <p><%= @buddy.first_name %> is a verified Buddy</p>
          <%= link_to "Send Message", "#", class: 'btn-hover1 color-4 submit-button bold', id: 'message' %>

          <%= link_to "Request", buddy_requests_path(@buddy,  date: params[:date]), method: :post, class: 'btn-hover1 color-4 submit-button bold' %>
          <% if @next_match >= 1 %>
            <%= link_to "New Match", buddy_path(@next_match, date: params[:date]), class: "btn-hover1 color-8 submit-button bold" %>
          <% elsif @next_match < 0 %>
            <%= "Please login for more results!" %>
          <% else %>
            <%= "Sorry, no more matches for your search!" %>
          <% end %>

        </div>

      </div>

    </div>
    <div class="contentRight">
      <div class="description">
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
        <p> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div class="specialPlusMap">

        <div class="special">
          <div class="specialContainer">
          <p id= "mobilep">Tasks <%= @buddy.first_name %> is helping you with</p>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-briefcase-medical big-icon"></i>
            </div>
            <div class="item2">
              <p>Health insurance</p>
            </div>
          </div>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-money-check-alt big-icon"></i>
            </div>
            <div class="item2">
              <p>Bank account</p>
            </div>
          </div>

          <div class="specialKind">
            <div class="item1">
              <i class="fas fa-building big-icon"></i>
            </div>
            <div class="item2">
              <p>House register</p>
            </div>
          </div>

          </div>
        </div>

        <div class="map1">
          <div class="mapContainer">
            <p><%= @buddy.first_name %>'s Neighborhood</p>
          <div
          id="map"
          style="width: 100%;
          height: 100%;
          border-radius: 10px;"
          data-marker="<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          ></div>
          </div>
        </div>
      </div>
      <!-- <div class="review">
        <p>Ratings from Movers</p>
      </div> -->
    </div>
  </div>

<div id="chatbox" class="hidden">
  <%= render 'shared/chatroom' %>
</div>
  <% if user_signed_in? %>

  <%= content_for :after_js2 do %>

  <%= javascript_pack_tag 'chat' %>

  <script>
    console.log("from afterjs2")
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
<% end %>

