

<div class="container">


    <%= simple_form_for @user, { url: "/buddies", method: "get" } do |f| %>

    <div class="form-wrapper">
      <div>
        <%= f.input :plz,
        label: false,
        as: :string,
        input_html: {class: 'input-field'},
        placeholder: "Enter your postcode",
        include_blank: false,
        class: "form-control", required: true %>
      </div>

      <div>
        <%= f.select "specialties", options_for_select(@specialties, "specialties"),
        prompt: "Select a procedure",
        include_blank: false,
        required: true %>
      </div>

      <div class="inputfield">
        <div class="icon">
          <i class="fas fa-calendar-alt" style="color: grey"></i>
        </div>
          <%= f.input :availabilities,
          label: false,
          as: :string,
          required: false,
          placeholder: "Pick a date",
          input_html: { class: "datepicker", value: '' }
          %>
        </div>

      <div>
        <%= f.button :submit, "Find a buddy", class: "submit-button centered-btn" %>
      </div>
    </div>

    <% end %>
</div>

