

<div class="container">


    <%= simple_form_for @user, { url: "/buddies", method: "get" } do |f| %>

    <div class="form-wrapper">
      <div>
        <%= f.input :plz,
        label: false,
        input_html: {class: 'input-field'},
        placeholder: "Enter your postcode",
        include_blank: false,
        class: "form-control", required: true %>
      </div>

      <div>
        <%= f.select "specialties", options_for_select(@specialties, "specialties"),
        prompt: "Select a procedure",
        required: true,
        include_blank: false %>
      </div>

      <div>
        <%= f.input :availabilities,
        label: false,
        as: :string,
        required: false,
        placeholder: "Pick a date",
        input_html: { class: "datepicker", :value => Date.today }
        %>
      </div>

      <div>
        <%= f.button :submit, "Find a buddy", class: "submit-button centered-btn" %>
      </div>
    </div>

    <% end %>
</div>

