<div class="form-container">
<%= form_tag buddy_path, method: :get do %>
  <%#= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a movie"
  %>
  <%#= select_tag "location", options_from_collection_for_select(@locations, "id", "name")  %>
  <div class="form-group">
    <%= text_field_tag :plz,
    params[:plz],
    class: "form-control",
    placeholder: "Enter your postcode"%>
  </div>
  <div class="form-group">
  <%= select_tag "specialites", options_for_select(@buddy, "specialites"),
    include_blank: true,
    class: "form-control",
    prompt: "Select a procedure" %>
  </div>
    <div class="form-group">
  <%= select_tag "@", options_for_select(@tools, "category"),
    include_blank: true,
    class: "form-control",

    prompt: "Select a category" %>
  </div>
  <%= button_tag "Submit", class: "button" %>

<% end %>
</div>


