

<div class="container">


    <%= simple_form_for @user, { url: "/buddies", method: "get" } do |f| %>

    <div class="form-wrapper">
      <div class="inputfield">
        <div class="icon">
          <i class= "fas fa-map-marker-alt" style="color: grey"></i>
        </div>
        <div>
          <%= f.input :plz,
          label: false,
          as: :string,
          input_html: {class: 'input-field'},
          placeholder: "Enter postcode",
          include_blank: false,
          class: "form-control", required: true %>
        </div>
      </div>

      <div class="inputfield">
        <div class="icon">
          <i class="fas fa-chevron-circle-down" style="color: grey"></i>
        </div>
        <div>
          <%= f.select "specialties", options_for_select(@specialties, "specialties"),
          prompt: "Select a procedure",
          include_blank: false,
          required: true %>
        </div>
      </div>

      <div class="inputfield">
        <div class="icon">
          <i class="fas fa-calendar-alt" style="color: grey"></i>
        </div>
          <%= f.input :availability,
          label: false,
          as: :string,
          required: false,
          placeholder: "Pick a date",
          input_html: { class: "datepicker", value: '' }
          %>
        </div>

      <div>
        <%= f.button :submit, "Find a buddy", class: "btn-hover1 color-4" %>
      </div>
    </div>

    <% end %>
</div>

