<div class="background">
    <%= render "shared/banner" %>

    <%= render "shared/searchform" %>


    <div class="box container">
     <div class="text-center card">
      <i class="fas fa-calendar-alt"></i>
      <h3>1. Enter your postcode</h3>
      <div>
        <%= "Enter your postcode to find a relocation buddy available in your city" %>
      </div>
    </div>
     <div class="text-center card">
      <i class="fas fa-calendar-alt"></i>
      <h3>2. Choose your preferred date</h3>
      <div>
        <%= "Select the preferred date you have a appointment or what to meet the buddy" %>
      </div>
    </div>
     <div class="text-center card">
      <i class="fas fa-calendar-alt"></i>
      <h3>3. Get match with Buddy </h3>
      <div>
        <%= "Check-out buddy profiles and prices and select to sent a request" %>
      </div>
      </div>
     <div class="text-center card">
      <i class="fas fa-calendar-alt"></i>
      <h3>4. Chat with buddy & meetup</h3>
      <div>
        <%= "Enter your postcode to find a relocation buddy available in your city" %>
      </div>
    </div>
  </div>
</div>
