<div>
  <%= render "shared/banner"%>
</div>
<div class="box" class="col-sm-3 col-sm-offset-3 col-xs-6">

  <div class="text-center"><i class="fas fa-handshake"></i>
    <div><%= "Choose a City" %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-calendar-alt"></i><div><%= " get match with a buddy" %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-handshake"></i><div><%= "Contact buddy via chat" %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-map"></i><div><%= "Book a Task with your buddy" %></div>
  </div>
  <div class="text-center">
    <i class="fas fa-map"></i><div><%= "Meet your buddy in person" %></div>
  </div>
</div>
