<div>
  <div class="banner-request" style="background-image: url('https://projectgallery.ca/cms/media/paper_crumpled_light_shadow_35117_1920x1080.jpg'">
    <h1 style="color:grey"> Your messages</h1>
  </div>
</div>

<div style="display: flex; flex-direction: row" class="container">
  <div class="container-request text-center" style="align-items: start";>
    <% if @chats %>
      <% @chats.each do |r| %>
        <div class="request">
          <div class="request-body">
            <p><%= r.messages[-1].content %></p>
          </div>
          <div class="request-body" style= "align-self: self-start";>
            <div class="buttons">
              <%#= link_to "Open", chat_room_path(@chat_room), class: 'submit-button', id: 'open-message' %>
              <%= link_to "Open", chat_room_path(r), remote: true, class: 'submit-button', id: 'open-message' %>
            </div>
          </div>
        </div>
      <% end %>
  </div>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3" style="width: 100%; margin-left: 0";>
      <div class="chat-header"><h4><%= @buddy.first_name %><%= @chat_room.name %></h4></div>
      <div class="messages">
        <% @chat_room.messages.order(created_at: :asc).each do |message| %>
          <%= render "messages/message", message: message, user_is_messages_author: message.user == current_user %>
        <% end %>
      </div>
      <div id="create-message">
        <%= simple_form_for [ @chat_room, Message.new ], remote: true, html: { autocomplete: "off" } do |f| %>
          <%= f.input :content, label: false %>
          <%= f.submit ">", class: 'btn btn-primary' %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

<% content_for :after_js do %>
  <script>
    console.log("from afterjs")
    scrollLastMessageIntoView();
    App['chat_room_<%= @chat_room.id %>'] = App.cable.subscriptions.create(
      { channel: 'ChatRoomsChannel', chat_room_id: <%= @chat_room.id %> },
      {
        received: (data) => {
          if (data.current_user_id !== <%= current_user.id %>) {
            const messagesContainer = document.querySelector('.messages');
            messagesContainer.insertAdjacentHTML('beforeend', data.message_partial);
            scrollLastMessageIntoView();
          }
        }
      }
    )
  </script>
<% end %>
</div>
