
<div>
  <div class="banner-request" style="background-image: url('https://projectgallery.ca/cms/media/paper_crumpled_light_shadow_35117_1920x1080.jpg'">
    <h1 style="color:grey"> Your tasks are:</h1>
  </div>
</div>


<div class="container-request text-center">
  <% if @requests.any? %>
    <% @requests.each do |r| %>
        <div class="request">
          <div class="request-body">
            <div class="avatar2">
              <%= link_to buddy_path(r.buddy, date: r.date) do %>
                <%= cl_image_tag r.buddy.photo, height: 110, width: 110, crop: :fill, gravity: :face, radius: :max %>
              <% end %>
            </div>
          <h2><%= r.buddy.first_name %></h2>
        </div>
        <div class="request-body" style= "align-self: self-start";>
          <h2>Topic: <%= r.buddy.specialties %></h2>
          <h2>Date: <%= r.date %> </h2>
          <h2>Place: Burgeramt</h2>
        </div>
        <div class="request-body" style= "align-self: self-start";>
          <h2><%= r.status %></h2>
           <div class="buttons">
              <% if r.accepted? %>
                <%= link_to "Chat", chat_room_path(current_user.chat_rooms_as_user.with_buddy(r.buddy).first), remote: true, class: 'btn-hover color-4', id: 'message' %>
              <% end %>
              <%= link_to "Delete", request_path(id: r.id),
              method: :delete, class: "btn-hover color-8" %>
           </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
  <div id="chatbox" class="hidden">
    <%#= render 'shared/chatroom', buddy: @buddy, chat_room: @chat_room %>
  </div>
