  <div>
  <div class="banner-request" style="background-image: url('https://projectgallery.ca/cms/media/paper_crumpled_light_shadow_35117_1920x1080.jpg'">
      <h1 style="color:grey"> Your tasks are:</h1>
  </div>
</div>

<div class="container-request text-center">
  <% if @requests %>
  <% @requests.each do |r| %>
    <div class="request">
      <div class="request-body">
        <div class="avatar2">
        <%= cl_image_tag r.user.photo, height: 110, width: 110, crop: :fill, gravity: :face, radius: :max %>

        </div>
        <p>Buddy: <%= r.user.first_name %></p>
      </div>
      <div class="request-body" style= "align-self: self-start";>
        <h2>Topic: Anmeldung</h2>
        <p>Date: 12.12.2018</p>
        <p>Place: Burgeramt</p>
      </div>

      <div class="request-body" style= "align-self: self-start";>
        <h2>Status: <%= r.status %></h2>
        <p> Request sent: <%= r.created_at %></p>
        <div class="buttons">
        <button class="btn-hover color-1">Chat</button>
        <%= link_to "Delete", request_path(id: r.id),
                      method: :delete, class: "btn-hover color-11" %>
        </div>
     </div>
</div>
<% end %>
<% end %>
</div>
